@prom-io:registry=https://npm.pkg.github.com/
@midl-xyz:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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

auto-install-peers=true
shamefully-hoist=true
