:root {
	--vp-c-brand-1: #000;
	--vp-c-brand-2: #ff8533;
	--vp-c-brand-3: #ff6600;

	--vp-button-brand-active-bg: var(--vp-c-brand-3);
}

.dark {
	--vp-c-brand-1: #fff;
}

.version-banner {
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: center;
	width: 100vw;
	padding: 6px 16px;
	margin: 8px 0 0;
	border-radius: 0;
	background: var(--vp-c-bg-soft);
	border-bottom: 1px solid var(--vp-c-divider);
	color: var(--vp-c-text-2);
	font-size: 13px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.version-banner strong {
	font-weight: 600;
}

.version-banner a {
	color: var(--vp-c-text-1);
	text-decoration: underline;
	text-underline-offset: 2px;
}

#app {
	footer.VPFooter.has-sidebar {
		display: block;

		padding-left: calc(
			(100vw - var(--vp-layout-max-width)) /
			2 +
			var(--vp-sidebar-width) +
			32px
		);

		& .container {
			text-align: left;
		}
	}
}
