:root {
	--vp-c-brand-1: #000;
	--vp-c-brand-2: #ff8533;
	--vp-c-brand-3: #ff6600;

	--vp-button-brand-active-bg: var(--vp-c-brand-3);
}

.dark {
	--vp-c-brand-1: #fff;
}

#app {
	footer.VPFooter.has-sidebar {
		display: block;

		padding-left: calc(
			(100vw - var(--vp-layout-max-width)) /
			2 +
			var(--vp-sidebar-width) +
			32px
		);

		& .container {
			text-align: left;
		}
	}
}
