name: Publish to NPM

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read
    
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@v4      
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          registry-url: https://registry.npmjs.org
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build packages
        run: pnpm build:packages

      - name: Run tests
        run: pnpm test:packages

      - name: Publish packages 
        env:
          NODE_AUTH_TOKEN: ""
          NPM_TOKEN: ""
          NPM_CONFIG_PROVENANCE: "true"
        run: |
          TAG=""
          if [[ "${GITHUB_REF##*/}" == "next" ]]; then
            TAG="--tag next --publish-branch next"
          fi
          pnpm publish -r --filter="./packages/*" --no-git-checks --access public $TAG
